@page
@model Blog.Pages.AppUsers.EditModel

@{
    ViewData["Title"] = "Edit";
    Layout = "~/Pages/Shared/_Layout.cshtml";
}

<h1>Edit User</h1>

<h4>User</h4>
<hr />

<div class="row">
    <div class="col-md-4">
        <form method="post">
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
            <input type="hidden" asp-for="AppUser.Id" />
            <div class="form-group">
                <label asp-for="AppUser.UserName" class="control-label"></label>
                <input asp-for="AppUser.UserName" class="form-control" disabled/>
                <span asp-validation-for="AppUser.UserName" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="AppUser.Email" class="control-label"></label>
                <input asp-for="AppUser.Email" class="form-control" disabled />
                <span asp-validation-for="AppUser.Email" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="AppUser.Access" class="control-label"></label>
                <input asp-for="AppUser.Access" class="form-control" />
                <span asp-validation-for="AppUser.Access" class="text-danger"></span>
            </div>

            <div class="form-group">
                <label asp-for="CurrentAdminClaim" class="control-label"></label>
                <input type="checkbox" asp-for="CurrentAdminClaim" class="form-check" />
                <span asp-validation-for="CurrentAdminClaim" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="InitialAdminClaim" class="control-label" hidden></label>
                <input type="checkbox" asp-for="InitialAdminClaim" class="form-check" hidden/>
                <span asp-validation-for="InitialAdminClaim" class="text-danger"></span>
            </div>

            <div class="form-group">
                <label asp-for="CurrentEditorClaim" class="control-label"></label>
                <input type="checkbox" asp-for="CurrentEditorClaim" class="form-check" />
                <span asp-validation-for="CurrentEditorClaim" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="InitialEditorClaim" class="control-label" hidden></label>
                <input type="checkbox" asp-for="InitialEditorClaim" class="form-check" hidden/>
                <span asp-validation-for="InitialEditorClaim" class="text-danger"></span>
            </div>


            <div class="form-group">
                <input type="submit" value="Save" class="btn btn-primary" />
            </div>
        </form>
    </div>
</div>

<div>
    <a asp-page="./Index">Back to List</a>
</div>

@section Scripts {
    @{
        await Html.RenderPartialAsync("_ValidationScriptsPartial");
    }
}
